
<aside class="sidebar">
  <!-- Your sidebar content goes here -->
  <ul class="list-unstyled">
    <li><%= link_to 'new client', new_client_path %></li>
    <%# <li><%= link_to 'new case', %></li>
    <!-- Add more links as needed -->
  </ul>
</aside>
