<h3>Clients List</h3>
<p>Find me on "...clients/views/clients/index.html.erb"</p>

<ol>
  <% @clients.each do |client| %>
    <li>
      <p><%= link_to client.last_name, client%></p>
    </li>
  <% end %>
</ol>
