.button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.button a {
  text-decoration: none;
  color: black;
}

.submit-button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  input {
    border: none;
    background-color: white;
  }
}
.submit-button a {
  text-decoration: none;
  color: black;
}

.button-b {
  text-align: center;
  width: fit-content;
  background-color: #2E8BC0;
  padding: 5px 15px;
  margin-left: 25px;
  border-radius: 5px;
}

.button-b a {
  text-decoration: none;
  color: black;
}

.btn-s {
  margin-left: 10px;
}
