.button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.button a {
  text-decoration: none;
  color: black;
}

.submit-button {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  input {
    border: none;
    background-color: white;
  }
}
.submit-button a {
  text-decoration: none;
  color: black;
}

.button-b {
  text-align: center;
  width: fit-content;
  background-color: #2E8BC0;
  padding: 5px 15px;
  margin-left: 25px;
  border-radius: 5px;
}

.button-b a {
  text-decoration: none;
  color: black;
}

.btn-s {
  margin-left: 10px;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.button-t {
  text-align: center;
  border: 1px solid #2E8BC0;
  border-radius: 5px;
  background-color: #2E8BC0;
  padding: 5px 15px;
}

.button-t a {
  text-decoration: none;
  color: black;
}

//case show page
.button-r {
  text-align: center;
  border: 1px solid #ff964f;
  border-radius: 5px;
  background-color: #ff964f;
  padding: 5px 15px;
  width: fit-content;
  margin-left: 25px;
}

.button-r a {
  text-decoration: none;
  color: black;
}

#printButton {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px 15px;
  margin-left: 25px;
  margin-top: 10px;
}
