//index page

.card-container {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  background-color: #96B6C5;
  text-align: center;
  padding: 10px;
  margin: 25px;
  font-weight: bold;
}

.search-container {
  width: 80%;
  margin-left: 25px;
}
// show page

.show-page-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  //gap: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-card {
  flex-grow: 2;
}

.table-card p{
  font-weight: bold;
  margin-top: 20px;
  padding: 2px;
  border: 1px solid #cccccc;
  background-color: #cccccc;
}

.pos-show-card-container {
  width: 220px;
  height: 150px;
  background-color: #a9c3b6;
  border-radius: 5px;
  margin:auto;
  margin-top: 50px;
}

.neg-show-card-container {
  width: 220px;
  height: 150px;
  background-color: #bd4545;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}
.zero-show-card-container {
  width: 220px;
  height: 150px;
  background-color: #eeeac4;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
}

.neg-show-card-container p {
  margin-left:20px;
}

.pos-show-card-container p {
  margin-left:20px;
}
.zero-show-card-container p {
  margin-left: 20px;
}

.show-card-detail {
  display: flex;
  justify-content: space-between;
}

.detail-icon{
  display: flex;
  gap: 5px;
  padding-top: 12px;
  padding-right: 20px;
}

.show-card-detail p {
  font-weight: bolder;
}

.show-card-info {
  padding-top: 22px;
}

.info-line-one {
  font-weight: bolder;
}

.info-line-two {
  font-weight: lighter;
  font-size: smaller;
}

.date-div {
  position: absolute;
  right: 0;
  font-size: smaller;
}

.left-card {
  position: relative;
}

.expense-card {
  background-color: #96B6C5;
  height: 100px;
  width: 200px;
  border: 1px solid #96B6C5;
  border-radius: 5px;
  text-align: center;
  padding-top: 18px;
}
.expense-card p {
  font-weight: bolder;
}
.payment-card {
  background-color: #96B6C5;
  height: 100px;
  width: 200px;
  border: 1px solid #96B6C5;
  border-radius: 5px;
  text-align: center;
  padding-top: 18px;
}
.payment-card p {
  font-weight: bolder;
}

.calculation-container {
  display: flex;
  gap: 10px;
}
