//index page

.card-container {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  background-color: #96B6C5;
  text-align: center;
  padding: 10px;
  margin: 25px;
  font-weight: bold;
}

.search-container {
  width: 80%;
  margin-left: 25px;
}
// show page

.show-page-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  //gap: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-card {
  flex-grow: 2;
}

.table-card p{
  font-weight: bold;
  margin-top: 20px;
  padding: 2px;
  border: 1px solid #cccccc;
  background-color: #cccccc;
}

.neg-balance {
  color: #bb2d3b;
}
.pos-balance {
  color: #198754;
}

.show-card-container {
  width: 220px;
  height: 150px;
  background-color: #eeeac4;
  border-radius: 5px;
}

.show-card-container p {
  margin-left:20px;
}
.show-card-detail {
  display: flex;
  justify-content: space-between;
}

.detail-icon{
  display: flex;
  gap: 5px;
  padding-top: 12px;
  padding-right: 20px;
}

.show-card-detail p {
  font-weight: bolder;
}

.show-card-info {
  padding-top: 22px;
}

.info-line-one {
  font-weight: bolder;
}

.info-line-two {
  font-weight: lighter;
  font-size: smaller;
}
