// new client from

.wrapper {
  width: 40%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  input {
    border-radius: 6px;
  }
}

.header-client {
  text-align: center;
}

.wrapper-client{
  height: 100vh;
  width: 100%;
  background-image: url("https://source.unsplash.com/ZK_v7Uc7sqQ/1600x900");
  background-position: cover;
  background-size: cover;
  padding: 30px;
}

// edit client form

.wrapper-client-edit{
  height: 100vh;
  width: 100%;
  background-image: url("https://source.unsplash.com/KQVX1_pYpsA/1600x900");
  background-position: cover;
  background-size: cover;
  padding: 30px;
}

// new transaction form

.wrapper-transaction{
  height: 100vh;
  width: 100%;
  background-image: url("https://source.unsplash.com/hVhfqhDYciU/1600x900");
  background-position: cover;
  background-size: cover;
  padding: 30px;
}

.header-transaction {
  text-align: center;
}

.form-transaction {
  input {
    width: 100%;
  }
}

.field {
  select{
    width: 100%;
    //font-weight: bold;
  }
}

.field {
  textarea {
   width: 100%;
  }
}

.field {
  label {
    font-weight: bold;
  }
}

// edit transaction form

.wrapper-transaction-edit{
  height: 100vh;
  width: 100%;
  background-image: url("https://source.unsplash.com/egd5-pVSvYI/1600x900");
  background-position: cover;
  background-size: cover;
  padding: 30px;
}

//new case form

.wrapper-case{
  height: 100vh;
  width: 100%;
  background-image: url("https://source.unsplash.com/cOycnq2-Htc/1600x900");
  background-position: cover;
  background-size: cover;
  padding: 30px;
}
