.calculation-container td {
  background-color: #0583D2;
  line-height: 60px;
  padding: 0 50px;
  border-right: 2px solid white;
}
.calculation-container th {
  background-color: #0583D2;
  line-height: 45px;
  padding: 0 50px;
  border-right: 2px solid white;
}

.expense-table th {
  padding: 5px;
  border-bottom: 2px solid black;
}
.expense-table td {
  padding: 5px;
}

.payment-table th {
  padding: 5px;
  border-bottom: 2px solid black;
}
.payment-table td {
  padding: 5px;
}
