// show page

.calculation-container td {
  background-color: #96B6C5;
  line-height: 60px;
  padding: 0 45px;
  border-right: 2px solid white;
}

.calculation-container th {
  background-color: #96B6C5;
  line-height: 45px;
  padding: 0 45px;
  border-right: 1px solid white;
}

.expense-table th {
  padding: 7px;
  border-bottom: 2px solid black;
}

.expense-table td {
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  font-weight: lighter;
  padding-right: 20px;
}

.expense-table a {
  text-decoration: none;
  color:#48BF91;
}

.payment-table {
  table-layout: fixed;
  width: 100%;
}
.payment-table th {
  padding: 7px;
  border-bottom: 1px solid black;
}

.payment-table td {
  padding: 5px;
  padding-right: 20px;
  border-bottom: 1px solid #cccccc;
  font-weight: lighter;
  width: auto;
}

.payment-table a {
  color: #48BF91;
}

// index page

.index-table  table {
  width: 80%;
  margin-left: 25px;
}

.index-table th {
  padding: 7px;
  background-color: #2E8BC0;
  color: white;
}
.index-table td {
  padding: 5px;
}
.index-table a {
  text-decoration: none;
  color: black;
  border: 1px solid #96B6C5;
  border-radius: 5px;
  padding: 2px;
  background-color: #96B6C5;
}

.index-table a:hover {
  color: white;
}

tr.odd-row {
  background-color: #96B6C5;
  a {
    border-radius: 5px;
    border: 1px solid white;
    background-color: white;
  }
  a:hover {
    color:#96B6C5;
  }
}
