<div class="wrapper-transaction">
  <div class="wrapper">
    <div class="header-transaction">
      <h3>New Transaction for <%= @client.first_name %></h3>
    </div>
    <div>
      <%= render 'shared/form' %>
    </div>
    <div class="button mt-3">
      <%= link_to 'Back', client_path(@client) %>
    </div>
  </div>
</div>
